.env
node_modules
dist 
logs
shared_optimization_results
venv
UserFiles
testFiles
social_media_output
product_photography_output
shared_optimization_results
uploads
venv311
test.txt
output
terminal.txt

# Python cache and compiled files
__pycache__/

# Virtual environment
venv/

# Pretrained models directory
pretrained_models/

#outptu_dir
output/

.env